.FilesAppBackground {
  background: rgb(211, 239, 255);
  background: -moz-radial-gradient(circle at bottom left, rgba(211, 239, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-radial-gradient(circle at bottom left, rgba(211, 239, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: radial-gradient(circle at bottom left, rgba(211, 239, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d3efff", endColorstr="#ffffff", GradientType=1);
}

.leftPannel {
  padding-top: 65px;
  width: 450px;
  box-shadow: -10px 0px 15px 15px rgba(0, 0, 0, 0.2);
}

.contentDiv {
  padding-top: 65px;
  width: 100%;
  overflow: auto;
}