.widgetAera {
  /* below 34.5rem. For mobile */
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  justify-content: space-between;
  grid-gap: 20px;
  margin-top: 9rem;
  width: 90%;
  opacity: 1;
}

/* for desktop */
@media (min-width: 34.5rem) {

  .widgetAera {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-content: space-between;
    transition: transform 1s;
    width: 34.5rem;
  }

  .widgetAera.intro {
    transform: opactiy 1s;
    opacity: 0;
    transform: perspective(500px) rotateX(8deg) rotateY(8deg) scale(1.05) rotate(-1deg);
  }

  .widgetAera.inter {
    transform: opactiy 1s;
    transform: scale3d(1) rotateX(0deg);
  }

  .widgetAera.outro {
    transform: opactiy 1s;
    /* c'est transform ou transition ?*/
    transform: perspective(500px) rotateX(-10deg) rotateY(-10deg) scale(0.8) rotate(1deg);
  }
}

@media (min-width: 53rem) {
  .widgetAera {
    width: 53rem;
  }
}

.appsWidget {
  color: black;
  width: 16rem;
  height: 16rem;
  margin-bottom: 2.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  align-items: center;
  justify-items: center;

  border-radius: 2rem;
  background: rgb(211, 239, 255);
  background: -moz-radial-gradient(circle at bottom left, rgba(211, 239, 255, 0.5) 0%, rgba(255, 255, 255, 0.6) 100%);
  background: -webkit-radial-gradient(circle at bottom left, rgba(211, 239, 255, 0.5) 0%, rgba(255, 255, 255, 0.6) 100%);
  background: radial-gradient(circle at bottom left, rgba(211, 239, 255, 0.5) 0%, rgba(255, 255, 255, 0.6) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d3efff", endColorstr="#ffffff", GradientType=1);
  box-shadow: -1px 4px 10px 0px rgba(0, 0, 0, 0.1);

  transition: transform 400ms;
}

.appsWidget:hover {
  transform: scale(1.03)
}

.app {
  justify-content: center;
  border-radius: 1rem;
  height: 4.8rem;
  width: 4.8rem;
  background-color: white;
  box-shadow: -1px 4px 10px 0px rgba(0, 0, 0, 0.1);
}

.widgetAera>.app {
  /* for mobile */
  margin: 1rem;
}

.doubleWidget {
  width: 34.5rem;
  height: 16rem;
  margin-bottom: 50px;

  border-radius: 2rem;
  background: rgb(211, 239, 255);
  background: -moz-radial-gradient(circle at bottom left, rgba(211, 239, 255, 0.5) 0%, rgba(255, 255, 255, 0.6) 100%);
  background: -webkit-radial-gradient(circle at bottom left, rgba(211, 239, 255, 0.5) 0%, rgba(255, 255, 255, 0.6) 100%);
  background: radial-gradient(circle at bottom left, rgba(211, 239, 255, 0.5) 0%, rgba(255, 255, 255, 0.6) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d3efff", endColorstr="#ffffff", GradientType=1);
  box-shadow: -1px 4px 10px 0px rgba(0, 0, 0, 0.1);

  transition: transform 400ms;
}

.doubleWidget:hover {
  transform: scale(1.03)
}

/* petit soucis, les h1 se conflictent entre fichiers... c'est universel en fait, malgré l'import local */

/* app size : 75x75px */
/* margin between 2 widgets : 75px */