.App {
  text-align: center;
  background: rgb(211, 239, 255);
  background: -moz-radial-gradient(circle at bottom, rgb(49, 179, 255) 0%, rgba(200, 220, 255, 1) 100%);
  background: -webkit-radial-gradient(circle at bottom, rgb(49, 179, 255) 0%, rgba(200, 220, 255, 1) 100%);
  background: radial-gradient(circle at bottom, rgb(49, 179, 255) 0%, rgba(200, 220, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d3efff", endColorstr="#ffffff", GradientType=1);
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*=============================*/

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.allSpace {
  width: 100%;
  height: 100%;
}

.h1HomePage {
  font-weight: 500;
  margin: 0px;
  margin-left: 1rem;
}

.centerContent {
  display: flex;
  justify-content: center;
  width: 100%;
}