.windowAnimation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  /*background-color:green;*/
  overflow: hidden;
  transition: all 1s, opacity 250ms, box-shadow 300ms 700ms;
}

.windowAnimation.intro {
  opacity: 0;
  top: 80vh;
  overflow: hidden;
  /*background-color:blue;*/
  box-shadow: 0px 0px 35px 10px rgba(0, 0, 0, 0.1);
  transition: all 1s, opacity 250ms 350ms, box-shadow 300ms;
}

.windowAnimation.inter {
  transform: rotateX(0) scale(1);
  top: 0;
  /*background-color:red;*/

}

/* for desktop only */
@media (min-width: 34.5rem) {
  .windowAnimation.intro {
    border-radius: 25%;
    transform: perspective(500px) rotateX(-60deg) scale(0.3);
  }

  .windowAnimation.inter {
    transform: rotateX(0) scale(1);
  }
}